#container {
    padding: 5px;
    font-size: 15px;
}

#header {
}

#terminal {
    width: 90%;
    min-width: 600px;
    min-height: 500px;
    padding: 5px;
    scroll: auto;
    border: 2px solid #000;
}

#prompt {
    padding: 0px;
    border: none;
    width: 500px;
    float: left;
}

#terminal, #prompt {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 14px;
    background: #DDD;
    color: #000;
}

.input-error {
    border: 3px solid #F00;
}

.meta {
    padding: 2px;
    font-size: 12px;
}

.error {
    color: #F00;
}

.log-entry {
    padding: 0px;
    margin: 0px;
    display: block;
}

.float-left {
    float: left;
}

.log-entry-out {
    /* float: none; */
}

.inline-block {
    display: inline-block;
    /* margin-right: 5px; */
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}
